<section class="card card--secondary" style="width: 60%">
  <header class="card__header">
    <span class="badge__popular">Popular</span>
    <h3 class="plan__name">Entry</h3>
    <div>
      <span class="plan__price">$14</span>
      <span class="plan__billing-cycle">/month</span>
      <span class="plan__badge badge badge--secondary badge--small"
        >10% OFF</span
      >
    </div>
    <div class="plan__description">East start on the cloud</div>
  </header>
  <section class="card__body">
    <ul class="list list--tick">
      <li class="list1 list__item">Unlimited Websites</li>
      <li class="list2 list__item">Unlimited Bandwidth</li>
      <li class="list3 list__item">100 GB SSD Storage</li>
      <li class="list4 list__item">3 GB RAM</li>
    </ul>
  </section>
  <button class="button button--primary button--block">Buy Now</button>
</section>
